.tb_library{
    margin-left:20%;
    margin-top:3%;
}
.livro img{
    width: 54%;
    
}

.titulo{
    color:#F0C802;
    margin: auto;
}
.nome_autor{
    margin: auto;
    color:#FFEF86;

}
.div_pesquisa{
margin-bottom: 2%;
margin-top: 1%;


}





    .div_pesquisa button {
            
        height: 40px;
        line-height: 1;
        border: none;
        background: rgb(220, 53, 70,0.5);;
        border: 1px solid rgb(220, 53, 70,0.5);;
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem;    
        border-radius: 0 3px 3px 0;
    }
    .div_pesquisa input{
        width:300px;
        height: 35px;
        line-height: 1;
        border: none;
        background:#FFFFC3;       
        color: rgb(29, 26, 26);       
        font-size: 0.8rem;    
        
    }