
/* Menu */

/*configs of side bar*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed:wght@300&display=swap');
.menu {
    left: 150px;
    width: 150px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    box-shadow:3px 0px 19px 0px #ffeb3bc4;

}
body{
    background-color: #121212;
    overflow-y: auto;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
   
}

    /*config  of the title in side bar*/
    .menu .menu_titulo {
        font-size: 125%;
        font-weight: 300;
        letter-spacing: .1em;
        color:#fad21e;
        margin-top: 0;
        padding: .5em .8em;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
    }
    /*spaces in the  bar*/
    .list_itens .menu_titulo {
        padding: .5em 1em,
       

    }
    /*configs li*/
    .list_itens {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    .menu li {
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        font-size: 115%;
        
        
        
    }
    /* config tag a*/
    .menu a,select,option {
        color: #fd7e14;
        border: none;
        white-space: normal;
        padding: .625em 1em;
    }

    .link_ancor {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        
    }
    .item_divisor  {
        border-top: 1px solid #333;
    }       
    a:hover {
        background-color:rgb(220, 53, 70,0.5);
        }
    li:hover {
        background-color:rgb(220, 53, 70,0.5);
    }
    .menu select{
        background-color: transparent;
        width: 100%;
        font-size: 100%;        
        padding: 10%;        
        height: 100%;
        list-style: none;
        font-family:'Roboto Condensed', sans-serif ;
                
    }
    .menu option{
        background-color:#191818;
        
    }


/*--------------------------------------------------------------------*/

.main_body {
    width: 89.6%;
    float: right;
    margin-left:12.4%;
    margin-right:20px;
    margin-right: 0%;
    
}
    /*Header*/
    .header{
        color: #333;
        text-align: center;
        padding-top: 3%;
        border-bottom:solid #eee;
    }
        .header h1{
            text-align: center;
            color: #F0C802;
            font-family:'Roboto Condensed', sans-serif ;
        }
        .header h2{
            color:#FFEF86;
            font-family:'Roboto Condensed', sans-serif ;
        }

/*Main */
.main{
    padding-left: 20%;padding-top:2%;
    padding-right:20%;
    color:#FFFFC3;
    font-family:'Roboto Condensed', sans-serif ;
}
.classe-botoes{
    
    line-height: 1;
    border: none;
    background:#fd7e14 ;
    border: 1px solid rgb(220, 53, 70,0.5);;
    color:#FFFFC3;
   
    
    font-size: 0.8rem;    
    border-radius: 0 3px 3px 0;

}
a{
    color:#FFFFC3;
}


/*Display block*/











